{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> BASE PAGE </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}

        {% endblock %}
    </body>
</html>
