<div class="header_container">

    <div class='header_logo'>
        <a href="">GOBUSSINES</a>
        <form>
            <input type="text" placeholder="Поиск ..." name="" value="">
        </form>
    </div>

    <div class="header_menu">
        <a href="">все публикаций</a>
        <a href="">топ публикаций </a>
        <a href="">поиск партнера</a>
        <a href="">обсуждение идей</a>
    </div>

    <div class="header_login_and_register">
        {% if user.is_authenticated %}
            <div class='user_authenticated'>
                <a href="">{{user.username}}</a>
            </div>
        {% else %}
            <div class='user_is_not_login'>
                <a href="">регистрация</a>
                <a href="{% url 'home:login_page' %}">войти</a>
            </div>
        {% endif %}
    </div>

</div>
